* {
    padding: 0;
    margin: 0;
}

body {
    max-width: 960px;
    margin: 0 auto;
    background-color: #E0E7E9;
    display: grid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 1fr auto auto auto;
    grid-column-gap: 5em;
    grid-row-gap: 36px;
    grid-template-areas:    "nav    header"
                            "nav    introsection"
                            "nav    main"
                            "footer footer";
}

header {
    display: flex;
    grid-area: header;
    align-items: center;
    justify-content: space-between;
}

nav {
    grid-area: nav;
    border-right: 1px dashed #6C7A89;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
    background-color: #6C7A89;
    display: flex;
    font-size: 2em;
    align-items: center;
    justify-content: center;
    
}

h1 {
    font-size: 3em;
    letter-spacing: .4em;
}


ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    list-style-type: none;
}

footer {
    margin: 48px;
    text-align: center;
}

footer p {
    text-align: center;
    color: #A3C6C4;
    font-weight: bold;
}



h1, h2 {
    color: #354649;
}

p, label, option {
    color: #6C7A89;
}

h1 {
    text-align: center;
}

li {
    background-color: #6C7A89;
    border-radius: 50%;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    font-size: 1.2em;
    font-weight: bold;
}

a {
    display: inline-block;
    color: #A3C6C4;
    padding: 18px;
}



.introSection {
    text-align: center;
}

.introImage {
    width: 640px;
    height: 384px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.form-comida-favorita {
    width: 200px;
    margin: 25px 0;
    display: grid;
    grid-template:  40px
                    40px
                    40px
                    / auto auto;
    justify-items: space-between;
}